main{
 display: flex;
 justify-content: center;
 background: #AFD4C0;
 min-height: calc(100vh - 75px);
 padding-top: 75px;
 width: 100vw;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background: #E5F4EC;
}

button{
  cursor: pointer;
}